.separator {
    border-bottom: 1px solid;
}

.separator--xs {
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
}

.separator--s {
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
}

.separator--base {
    padding-top: var(--space-base);
    padding-bottom: var(--space-base);
}

.separator--m {
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
}

.separator--l {
    padding-top: var(--space-l);
    padding-bottom: var(--space-l);
}

.separator--xl {
    padding-top: var(--space-xl);
    padding-bottom: var(--space-xl);
}

.separator--hide-line {
    border: unset;
}
