.stats-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.stats-item__title {
    font-size: 24px;
    font-weight: 500;
    z-index: 2;
}

.stats-item__value {
    font-size: 36px;
    font-weight: 500;
    z-index: 2;
}

.stats-item input {
    text-align: center;
    height: auto;
    min-height: auto;
    flex: 0;
}

.stats-item button {
    width: 100%;
}

.stats-item__separator {
    font-size: 36px;
    font-weight: 500;
}

.group .stats-item__separator {
    flex-grow: 0;
}

.stats-item__initial-value {
    font-size: 36px;
    font-weight: 500;
}
