:root {
    --color-base-light: #f7e0a1;
    --color-base: #f3d277;
    --color-neutral-dark: #050708;
    --color-background: #2e2e2e;
    --color-action: #af5a60;
    --color-action-light: #bd787d;
    --color-backdrop: rgba(0, 0, 0, 0.4);

    // Spacing rules
    --space-xs: 4px;
    --space-s: 8px;
    --space-base: 16px;
    --space-m: 20px;
    --space-l: 24px;
    --space-xl: 32px;
}
